.Task {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1d1d26;
    display: flex;
    height: 100%;
    padding: 80px;
    width: 600px;
    height: auto;
    z-index: 0;
    border-radius: 20px;
    background-color: #1d1d26;

    .NameOfTaskContainer{
        border: 3px solid #c5326a;
        padding: 20px;
        border-radius: 15px;
        color:white;
    }
    .DescriptionOfTaskContainer{
        margin-top: 50px;
        color:white;
    }
    .Text{
        margin-top: 25px;
        border: 3px solid #c5326a;
        padding: 20px;
        border-radius: 15px;
        color:rgb(126, 122, 122) !important;
    }
}
